{
  extends: ["google"],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  rules: {
    max-len: ["warn", {"code": 100, "ignoreUrls": true}],
    space-before-function-paren: ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
    arrow-parens: ["error", "as-needed"],
    semi: ["error", "never"],
    require-jsdoc: "off"
  },
  env: {
    "node": true,
    "es6": true
  },
  parserOptions: {
    ecmaVersion: 8
  }
}
